button:hover {
  filter: brightness(90%);
}

button {
  background-color: $color5;
  border: 3px solid $black;
  width: 100%;
  padding: 10px;
}

.submit {
  margin-top: 5px;
  width: 100%;
}

.navBarButtons {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 350px;
}
.addColumn {
  margin-right: 10px;
}

.edit-column-button {
  // width: 20%;
  background-color: $gray;
  padding: 0;
  border: none;
  width: 20px;
  height: 20px;
}
