@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Oswald:wght@200;300;400;500;600;700&display=swap");

$color1: #201d29;
$color2: #83c5be;
$color3: #edf6f9;
$color4: #ffddd2;
$color5: #fea94f;
$black: #211e1e;
$lightgray: #e6e6e6;
$gray: #b6b6b6;
$white: #f4eeeb;

$mainFont: "Nanum Gothic Coding";
